/*
 * Copyright (c) 2021 Rafael Yumagulov
 *
 * SPDX-License-Identifier: MIT
 */

#include "dao.dtsi"

/ {
    model = "Dao Dongle";
    compatible = "dao,dongle";

    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    leds {
        compatible = "gpio-leds";
        blue_led: led_0 {
            gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
            label = "Blue LED";
        };
        green_led: led_1 {
            gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
            label = "Green LED";
        };
        red_led: led_2 {
            gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
            label = "Red LED";
        };
    };

    // USB dongle button
    buttons {
        compatible = "gpio-keys";
        button_0: button_0 {
            gpios = <&gpio0 18 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
            label = "Push button switch";
        };
    };
};

&kscan0 {
    col-gpios
        = <&gpio0 2 GPIO_ACTIVE_HIGH>
        , <&gpio0 3 GPIO_ACTIVE_HIGH>
        , <&gpio0 28 GPIO_ACTIVE_HIGH>
        , <&gpio0 29 GPIO_ACTIVE_HIGH>
        , <&gpio0 30 GPIO_ACTIVE_HIGH>
        , <&gpio0 31 GPIO_ACTIVE_HIGH>
        ;
};

&default_transform {
    columns = <6>;
    rows = <1>;
    map = <
        RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)
    >;
};
