# Copyright (c) 2021 Rafael Yumagulov
# SPDX-License-Identifier: MIT

if BOARD_DAO_LEFT

config SOC
	default "nrf52840_qiaa"

config ARM
	default y

config CPU_CORTEX_M4
	default y

config BOARD
	default "dao_left"

config ZMK_KEYBOARD_NAME
	default "Dao Left"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config ZMK_SPLIT
	default y

config BT_CTLR
	default BT

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

endif # BOARD_DAO_LEFT
