# Copyright (c) 2021 Rafael Yumagulov
# SPDX-License-Identifier: MIT

if BOARD_DAO_LEFT

config ZMK_KEYBOARD_NAME
	default "Dao"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

config BOARD
	default "dao_left"

config ZMK_SPLIT
	default y

config BT_CTLR
	default BT

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

if USB_DEVICE_STACK

config USB_DEVICE_DRIVER_NRFX
	default y

endif # USB_DEVICE_STACK

endif # BOARD_DAO_LEFT
